body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #161616;
    background: url("./img/background.svg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

.main {
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    background-image: url("/img/background.svg");
    background-size: contain;
    min-height: 100vh;
    box-sizing: border-box;
}

.main.home {
    background-image: url("/img/main_bg.svg");
    background-size: cover;
    background-position: 50% 50%;
}

h1 {
    font-family: "Roboto Condensed", serif;
    font-size: 52px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header {
    display: grid;
    grid-template-columns: 250px 1fr 60px;
}

.header_menu {
    display: flex;
    font-size: 17px;
    align-content: center;
    align-items: center;
}

.header_menu_item {
    padding: 0 20px;
    color: #161616;
    text-decoration: none;
}

.header_menu_item:hover {
    color: #000000;
    text-decoration: underline;
}

.header_lang {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
}

.header_lang_item {
    font-weight: 400;
    font-size: 16px;
}

.header_lang.home .header_lang_item {
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
}

.header_lang_item.active {
    font-weight: 300;
    font-size: 16px;
}

.header_lang_item.active:after {
    font-weight: 300;
    font-size: 16px;
    content: url("../img/lang_circle.svg");
    padding-left: 4px;
    position: relative;
    top: -3px;
}

.content_panel {
    display: flex;
    padding: 100px 0 20px 40px;
    gap: 50px;
    border-bottom: 1px solid #039363;
}

.content_panel_title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}

.content_panel_title h1 {
    padding: 6px 0;
    margin: 0;
}

.content_panel_tab_panel {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    gap: 50px;
    cursor: pointer;
}

.content_panel_tab_panel_item.active {
    font-weight: 400;
    font-size: 20px;
}

.content_page {
    display: grid;
    grid-template-columns: 36% 300px 30%;
}

.content_page__img {
    width: 300px;
    height: 500px;
    background-image: url("/img/tmp_back.svg");
}

.content_page__share_contacts {
    padding: 30px 40px;
}

.content_page__share_contacts p {
    padding: 16px 0;
    line-height: 24px;
}

.content_page__share_contacts_title {
    font-family: "Roboto Condensed", serif;
    font-size: 32px;
    color: #039363;
    display: block;
    padding-top: 4px;
    font-weight: 400;
}

.home_slogan {
    font-size: 80px;
    color: #fff;
    padding: 80px 0;
}

.home_slogan p {
    font-family: "Roboto Condensed", serif;
    padding: 10px;
    line-height: 55px;
    font-weight: 700;
    margin: 0;
}

.home_slogan p span {
    color: #388E70;
}

.page_pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 230px;
    height: 100px;
    display: grid;
    grid-template-columns: 40px 115px 1fr;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(153, 153, 153, 0.3) 60%);
}

.page_pagination_bar {
    position: relative;
    padding: 18px 16px 10px 20px;
}

.page_pagination_bar_toggler_scroll {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    top: 6px;
    left: 2px;
}

.page_pagination_bar_toggler {
    width: 12px;
    height: 68px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.page_pagination_number {
    font-size: 90px;
    color: #303030;
    text-align: center;
}
.page_pagination_count {
    padding: 10px;
    font-size: 40px;
    color: #039363;
}
.page_pagination_count span {
    border-bottom: 2px solid #1A1A1A;
}